@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Popins', sans-serif
}

body {
    background-color: black;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

.main {
    background-image: url("assets/images/bgi.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

nav {
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 62px;
    background-color: transparent;
}

@media (max-width: 600px) {
    nav {
        max-width: 95%;
    }

    nav img {
        width: 100px;
    }

    .btn {
        padding: 2px 6px;
        font-size: 12px;
    }
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
    padding: 20px 21px 0px 19px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 0 30px;
    top: 140px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.hero> :nth-child(3) {
    margin: 17px;
    font-weight: 900;
    font-size: 19px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
    position: relative;
    z-index: 20;
}




.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn svg {
    position: relative;
    top: 2px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;

}


.main input {
    padding: 10px 101px 5px 16px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.email {
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {
    .email {
        flex-direction: column;
        align-items: center;
        
    }

    .main input {
        width: 100%;
    }

    .btn-red {
        width: 100%;
    }
}

.first {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    justify-content: center;
}



.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg {
    position: relative;

}

.secImg video {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 73%;
    height: auto;
}

.first>div :nth-child(1) {
    font-size: clamp(28px, 5vw, 44px);
    font-weight: bold;
}

.first>div :nth-child(2) {
    font-size: clamp(12px, 5vw, 24px);
    font-weight: bold;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

.faq h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    padding: 11px;
}

.faq .faqbox:hover {
    background-color: rgba(135, 124, 124, 0.909);
}

.faq .faqbox {
    transition: all 1s ease-out;
    display: flex;
    color: white;
    background-color: rgba(102, 95, 95, 0.495);
    padding: 24px;
    font-size: 24px;
    max-width: 40vw;
    margin: 25px auto;
    justify-content: space-between;
}

.faqbox svg {
    filter: invert(1);
}

footer {
    color: white;
    margin: auto;
    max-width: 60vw;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin: auto;

}

footer .que {
    padding: 33px 0px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer a {
    text-decoration: none;
    color: rgba(151, 146, 146, 1)
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }
}